<md-content layout="row" layout-align="center center">
  <!-- selection card -->
  <md-card flex-xs="100" flex-sm="80" flex="66" ng-if="!vm.slotSelected">
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">Please select a slot at which you'd like your interview to be scheduled</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="column">
        <div layout="row" layout-xs="column" ng-repeat-start="(date, slots) in vm.slots[vm.page.current]" style="min-height:100px;">
          <div flex="20" flex-xs="100" style="margin-top: 10px;" layout="column" layout-align="center center">
            <div class="md-subhead">{{vm.moment(date, 'DD-MM-YYYY').format('dddd')}}</div>
            <div class="md-caption" style="opacity: 0.5;">{{vm.moment(date, 'DD-MM-YYYY').format('Do MMMM')}}</div>
          </div>
          <div flex="80" flex-xs="100" layout="row" layout-align="center center" layout-wrap>
            <div ng-repeat="slot in slots">
              <md-button class="md-primary" ng-if="slots.length" ng-click="vm.selectSlot(date,slot)">{{vm.moment(slot.fromTime,'HH:mm:ss').format('hh:mm A')}}</md-button>
            </div>
            <div ng-if="!slots.length">
              <md-button ng-disabled="true" class="md-primary">No Slots available.</md-button>
            </div>
          </div>
        </div>
        <md-divider ng-repeat-end></md-divider>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="space-between center">
      <md-button class="md-raised md-primary" ng-disabled="vm.page.current === 1" ng-click="vm.previous()">Previous 3 days</md-button>
      <md-button class="md-raised md-primary" ng-disabled="vm.page.current === vm.page.max" ng-click="vm.next()">Next 3 days</md-button>
    </md-card-actions>
  </md-card>

  <!-- confirmation card -->
  <md-card flex-xs="100" flex-sm="80" flex="66" ng-if="vm.slotSelected">
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">Scheduling interview on</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" layout-xs="column" layout-align="center center" style="min-height: 450px;">
      <div style="text-align: center;">
        <div class="md-display-1">{{vm.moment(vm.selectedSlot.date,'DD-MM-YYYY').format('dddd')}}</div>
        <div class="md-headline" style="opacity: 0.5;">{{vm.moment(vm.selectedSlot.date,'DD-MM-YYYY').format('Do, MMMM')}}</div>
      </div>
      <div class="md-display-2" style="margin: 20px 0;">({{vm.moment(vm.selectedSlot.fromTime,'HH:mm:ss').format('hh:mm A')}})</div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-primary" ng-click="vm.unSelectSlot()">Back</md-button>
      <md-button class="md-raised md-primary" ng-click="vm.confirm()">Confirm</md-button>
    </md-card-actions>
  </md-card>

</md-content>