<md-toolbar md-scroll-shrink md-whiteframe="1" ng-if="true">
	<div class="md-toolbar-tools">
		<h3>
			<span>Welcome to Hirepro Consulting Pvt Ltd</span>
		</h3>
	</div>
</md-toolbar>
<md-content layout="row" layout-align="center center">
	<!-- selection card -->
  <md-card flex-xs="100" flex-sm="80" flex="66" ng-if="!app.dateSelected">
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">Please select a slot at which you'd like your interview to be scheduled</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="column">
        <div layout="row" layout-xs="column">
          <div flex="20" flex-xs="100" style="margin-top: 10px;">
            <div class="md-subhead">Thursday</div>
            <div class="md-caption" style="opacity: 0.5;">10th April</div>
          </div>
          <div flex="80" flex-xs="100" layout="row" layout-wrap>
            <md-button class="md-primary" ng-click="app.dateSelected = true">10:00 AM</md-button>
            <md-button class="md-primary">10:30 AM</md-button>
            <md-button class="md-primary">11:00 AM</md-button>
            <md-button class="md-primary">11:30 AM</md-button>
            <md-button class="md-primary">12:00 PM</md-button>
            <md-button class="md-primary">12:30 PM</md-button>
            <md-button class="md-primary">13:00 PM</md-button>
            <md-button class="md-primary">13:30 PM</md-button>
            <md-button class="md-primary">14:00 PM</md-button>
            <md-button class="md-primary">14:30 PM</md-button>
            <md-button class="md-primary">15:00 PM</md-button>
            <md-button class="md-primary">15:30 PM</md-button>
            <md-button class="md-primary">16:00 PM</md-button>
            <md-button class="md-primary">16:30 PM</md-button>
            <md-button class="md-primary">17:00 PM</md-button>
            <md-button class="md-primary">17:30 PM</md-button>
            <md-button class="md-primary">18:00 PM</md-button>
          </div>
        </div>
        <md-divider></md-divider>

        <div layout="row" layout-xs="column">
          <div flex="20" flex-xs="100" style="margin-top: 10px;">
            <div class="md-subhead">Wednesday</div>
            <div class="md-caption" style="opacity: 0.5;">11th April</div>
          </div>
          <div flex="80" flex-xs="100" layout="row" layout-wrap>
            <md-button class="md-primary">10:00 AM</md-button>
            <md-button class="md-primary">10:30 AM</md-button>
            <md-button class="md-primary">11:00 AM</md-button>
            <md-button class="md-primary">11:30 AM</md-button>
            <md-button class="md-primary">12:00 PM</md-button>
            <md-button class="md-primary">12:30 PM</md-button>
            <md-button class="md-primary">13:00 PM</md-button>
            <md-button class="md-primary">13:30 PM</md-button>
            <md-button class="md-primary">14:00 PM</md-button>
            <md-button class="md-primary">14:30 PM</md-button>
            <md-button class="md-primary">15:00 PM</md-button>
            <md-button class="md-primary">15:30 PM</md-button>
            <md-button class="md-primary">16:00 PM</md-button>
            <md-button class="md-primary">16:30 PM</md-button>
            <md-button class="md-primary">17:00 PM</md-button>
            <md-button class="md-primary">17:30 PM</md-button>
            <md-button class="md-primary">18:00 PM</md-button>
          </div>
        </div>
        <md-divider></md-divider>

        <div layout="row" layout-xs="column">
          <div flex="20" flex-xs="100" style="margin-top: 10px;">
            <div class="md-subhead">Friday</div>
            <div class="md-caption" style="opacity: 0.5;">12th April</div>
          </div>
          <div flex="80" flex-xs="100" layout="row" layout-wrap>
            <md-button class="md-primary">10:00 AM</md-button>
            <md-button class="md-primary">10:30 AM</md-button>
            <md-button class="md-primary">11:00 AM</md-button>
            <md-button class="md-primary">11:30 AM</md-button>
            <md-button class="md-primary">12:00 PM</md-button>
            <md-button class="md-primary">12:30 PM</md-button>
            <md-button class="md-primary">13:00 PM</md-button>
            <md-button class="md-primary">13:30 PM</md-button>
            <md-button class="md-primary">14:00 PM</md-button>
            <md-button class="md-primary">14:30 PM</md-button>
            <md-button class="md-primary">15:00 PM</md-button>
            <md-button class="md-primary">15:30 PM</md-button>
            <md-button class="md-primary">16:00 PM</md-button>
            <md-button class="md-primary">16:30 PM</md-button>
            <md-button class="md-primary">17:00 PM</md-button>
            <md-button class="md-primary">17:30 PM</md-button>
            <md-button class="md-primary">18:00 PM</md-button>
          </div>
        </div>
        <!-- <md-divider></md-divider> -->
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="space-between center">
      <md-button class="md-raised md-primary">Previous 3 days</md-button>
      <md-button class="md-raised md-primary">Next 3 days</md-button>
    </md-card-actions>
  </md-card>

	<!-- confirmation card -->
  <md-card flex-xs="100" flex-sm="80" flex="66" ng-if="app.dateSelected">
    <md-card-title>
      <md-card-title-text>
        <span class="md-title">Scheduling interview on</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" layout-xs="column" layout-align="center center" style="min-height: 450px;">
      <div style="text-align: center;">
        <div class="md-display-1">Friday</div>
        <div class="md-headline" style="opacity: 0.5;">12th April</div>
      </div>
      <div class="md-display-3" style="margin: 20px 0;">10:00 AM</div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-primary" ng-click="app.dateSelected = false">Back</md-button>
      <md-button class="md-raised md-primary">Confirm</md-button>
    </md-card-actions>

</md-content>
